db/*.sqlite3-journal
.sass-cache/
coverage/*
*.swp
public/uploads/
.rvmrc
.rbenv-version
.directory
nohup.out
Vagrantfile
.vagrant
config/gitlab.yml
config/database.yml
config/initializers/omniauth.rb
config/unicorn.rb
db/data.yml
*~
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
